.container {
  width: 100%;
  padding: 0 7rem 2rem;

  .title {
    font-size: 8rem;
    margin: 2rem 0;
  }

  .HeroCard {
    width: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .HeroCardImageContainer,
    .HeroCardContent {
      width: 100%;
      height: 100%;
    }

    .HeroCardImageContainer {
      position: relative;

      .HeroCardImage {
        border-radius: 1.5rem;
        -webkit-border-radius: 1.5rem;
        -moz-border-radius: 1.5rem;
        -ms-border-radius: 1.5rem;
        -o-border-radius: 1.5rem;
      }
    }
  }
}
